.fil_arianne{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @media screen and (max-width: 670px) {
        margin-top: 10%;
    } 
    .back_arianne{
        a{
            display: flex;
            width: 70px;
            justify-content: space-between;
        }
    }
    nav{ 
        width: fit-content;
        ol{
            display: flex;
            justify-content: space-between;
            li.active{
                color: $color-primary;
            }
            .urlpost{
                text-transform: capitalize;
            }
        }
    }
}