.fil_arianne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back_arianne{
        a{
            display: flex;
            width: 70px;
            justify-content: space-between;
        }
    }
    nav{ 
        width: fit-content;
        ol{
            display: flex;
            justify-content: space-between;
            li.active{
                color: $color-primary;
            }
        }
    }
}