header {
    display: flex;
    justify-content: space-between;
    padding: clamp(10px, 3%, 50px) 0;
    .logo {
        font-weight: bold;
        text-transform: uppercase;
        @media screen and (max-width: 550px) {
            display: none;
        }
    }
    nav {
        display: flex;
        @media screen and (max-width: 550px) {
           align-items: flex-start;
        } 
        ul {
            display: flex;
            gap: 2em;
            list-style: none;
            li:last-child {
                display: flex;
                align-items: center;
                gap: 5px;
                    .check_basket{
                        right: -15px;
                        top: -15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: black;
                        height: 15px;
                        width: 15px;
                        font-size: 10px;
                        border-radius: 50%;
                        padding: 4.5px;
                        color: white;
                    }
            }
            @media screen and (max-width: 550px) {
                display: none;
            }
        }
        
    } 
}
.underlay_header2{
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.4s;
    z-index: 2;
    @media screen and (min-width: 550px) {
        display: none;
    }
}
.underlay_header2_bis{
    display: block;
}

.menu_toggle{
    height: 25px;
    width: 35px;
    position: absolute;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    z-index: 3;
    @media screen and (min-width: 550px) {
        display: none;
    }
    span{
        height: 2px;
        width: 100%;
        background-color: black;
        transition: all ease-in-out 0.4s;
    }
    .arm1{
        transform-origin: top right;
    }
    .arm3{
        transform-origin: bottom right;
    }
    .span_toggle1{
        transform: rotate(-45deg);
    }
    .span_toggle2{
        opacity: 0;
    }
    .span_toggle3{
        transform: rotate(45deg); 
    }
}
.menu_toggle_bis{
    left: calc(100% - 35px);
}
.header2{
    height: 100vh;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    left: calc(-100% + 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 4;
    font-size: 1.3em;
    text-align: center;
    transition: all ease-in-out 0.4s;
    @media screen and (min-width: 550px) {
        display: none;
    }
    .nav2{
        width: 100%;
        display: flex;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .logo2{
            text-transform: uppercase;
            font-size: 1.1em;
            font-weight: 700;
        }
        ul{
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            gap: 25px;
            flex-direction: column;
            li{
                width: 100%;
                text-transform: capitalize;
            }
        }
    }
}
.header2_bis{
    left: 0;
}
