.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5%;
    .nav-links{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 15px;
        .current{
            color: $color-primary;
        }
        a.next, a.prev{
            margin: 2%;
        }
    } 
}

// pagination comments
.page-numbers{
    color: $color-primary;
    font-family: 'JetBrains Mono', monospace;
}

.depth-2{
    margin-left: 5%;
}