.wrap_panier{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    @media screen and (max-width: 380px) {
        width: 90%;
    }
    #vrai_panier{
        display: flex;
        flex-direction: column;
        width: 70%;
        border-radius: 0px;
        border-radius: 15px;
        background: #ffffff;
        box-shadow:  50px 50px 100px #d9e4e4,
                    -50px -50px 100px #f5ffff;
        padding: 20px;
        justify-content: space-between;
        margin-block: 8%; 
        @media screen and (max-width: 740px) {
            width: 100%;
        }
        .title_panier{
            padding-block: 20px;
            @media screen and (max-width: 650px) {
                font-size: 25px;
            }
        } 
        .cd_product{
            display: flex;
            position: relative;
            padding: 20px;
            @media screen and (max-width: 600px) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            &:nth-child(n+2){
                border-top: 1px solid black;
            }
            .img_product{
                width: 40%;
                object-fit: cover;
                box-shadow: none;
            } 
            .wrap_info{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                justify-content: space-between;
                @media screen and (max-width: 600px) {
                    align-items: center;
                    gap: 10px;
                }
                .cd_info_1{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                    @media screen and (max-width: 600px) {
                        align-items: center;
                    }
                } 
                .cd_info_2{
                    .input_qty{
                        width: 40px;
                    }
                }
            }
            .enlever_div{
                display: flex;
                align-items: center;
                position: absolute;
                right: 0;
                height: calc(100% - 40px);
                cursor: pointer;
            } 
            .no_product{
                @media screen and (max-width: 650px) {
                    font-size: 15px;
                }
            }
            .no_product, .link_no_product{
                margin-left: -20px;
                text-transform: capitalize;
            }
            
            .link_no_product{
                color: $color-primary;
                @media screen and (max-width: 650px) {
                    font-size: 12px;
                }
            }
        }

        .cd_end_basket{
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            padding-top: 5%;
            border-top: 1px solid black;
            order: 1;
            @media screen and (max-width: 650px) {
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }
            .form-row{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
            
            .cc{
                width: 45%;
            }
            
            .form-group{
                margin-block: 15px;
            }
            
            .cd_button_pay{
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: baseline;
                .btn_payer{
                    padding-inline: 40px;
                    padding-block: 10px;
                    background: $green;
                    border: none;
                    color: white;
                }
                .cd_prix_total{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    .prix_total{
                        margin-left: 5px;
                    }
                }
            }

        }
    }
}
