*{
    box-sizing: border-box;
    margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #E7F3F3;
}
body, section, footer, header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main{
    padding: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
}

section{
    min-height: 40vh;  
}

footer, header{
    background-color: wheat;
    width: 100%;
    height: 100px;
}


.form_pay{
    box-sizing: border-box;
    width: 600px;
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  50px 50px 100px #d9e4e4,
                -50px -50px 100px #f5ffff;
}
@media screen and (max-width: 600px) {
    .form_pay{
        width: 300px;
    }
}
.form-row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cc{
    width: 45%;
}

.form-group{
    margin-block: 15px;
}

.cd_button_pay{
    display: flex;
    justify-content: space-between;
}

.form_pay input[type='button']{
    padding-inline: 40px;
    background: #39a22f;
    border: none;
    color: white;
}