.cd_404error{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background;
    width: 100%;
    text-align: center;
    .hero_404{
        width: 100%;
        box-shadow: none;
        border: 2px solid $background;
        margin: 5% 0;
    }
    h2, p{
        margin-top: 2%;
        a{
            cursor: pointer;
            text-transform: uppercase;
            color: $color-primary;
        }
    }
}
